.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.login-options {
    display: flex;
    justify-content: center;
}

.option {
    margin: 0 20px;
}

.option img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.option a {
    font-size: 18px;
    text-decoration: none;
    color: #333;
    display: block;
}

body{
    background-color:rgb(173, 231, 249);
}